@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Pacifico&display=swap');
.first{
  position: relative;
  background-image: url('/home/eren/Desktop/PersonalWeb/bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height:100vh;
}
/*.init{
  text-align: center;
  position: absolute;
  height: 50%;
  width: 50%;
}*/
.initp{
  mix-blend-mode: difference;
  font-family: 'Amatic SC', cursive;
  color:#FFC54D;
  font-size:100px;
  position: absolute;
  top:35%;
  left:50%;
  transform: translate(-50%);
}
.init{
  mix-blend-mode: difference;
  font-family: 'Amatic SC', cursive;
  color:#FFC54D;
  font-size:200px;
  position: absolute;
  top:20%;
  left:50%;
  transform: translate(-50%);
}
*{
  margin: 0;
  padding: 0;
}
