@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gulzar&display=swap');
table{
  mix-blend-mode: ;
  font-family: 'Amatic SC', cursive;
  color:#FFC54D;
  width: 80rem;
  text-align: center;
  top:15%;
  position:absolute;
  left:50%;
  transform: translate(-50%);
}
th{
  background-color: #322c2c;
  border-radius: 1rem;
}
html { 
  background: url(../img/bg.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* LAYOUT PART ENDED */
div{
  font-size: 3rem;
  padding-right:1rem;
}
.squared{
  padding-right: 3rem;
  display:table;
  margin:0 auto;
  border-radius: 1rem;
  background-color: #322c2c;
  margin-top: 0.2rem;
}
#horizontal-list{
  display:inline;
}
p,ul{
  padding-right: 1.7rem;
  display:table;
  margin:0 auto;
  border-radius: 1rem;
  background-color: #322c2c;
}
.empty{
 list-style-type: none;
}
i{
  color:#FFC54D;
}
i:hover{
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  color:gold ;
}
